{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Include AdminLTE CSS -->
   <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>基于python的自动评卷系统</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <form action="{% url 'login' %}" method="post" id="loginForm">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter Captcha" id="captcha" name="captcha" required>
                        <div class="input-group-append">
                            <span class="input-group-text"><span id="captcha_display"></span></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </form>
                <hr>
                <p class="mb-0 text-center">没有账号？ <a href="{% url 'register' %}" id="register_link">注册</a></p>
            </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- Include jQuery -->
    <script src="{% static 'jquery-3.5.1/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            generateCaptcha();

            function generateCaptcha() {
                var captcha = '';
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                for (var i = 0; i < 6; i++) {
                    captcha += characters.charAt(Math.floor(Math.random() * characters.length));
                }
                $('#captcha_display').text(captcha);
            }

            $('#loginForm').submit(function(event) {
                // 获取用户输入的验证码
                var userInputCaptcha = $('#captcha').val();
                // 获取生成的验证码
                var generatedCaptcha = $('#captcha_display').text();

                // 检查验证码是否匹配
                if (userInputCaptcha !== generatedCaptcha) {
                    // 如果验证码不匹配，阻止表单提交
                    event.preventDefault();
                    // 提示用户输入正确的验证码
                    alert('验证码不匹配，请重新输入！');
                }
            });
        });
    </script>
</body>
</html>
